body {}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 9px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(left, #43BDD2 0%, #434250 50%, #FF5A60 100%);
    -o-border-image: -o-linear-gradient(left, #43BDD2 0%, #434250 50%, #FF5A60 100%);
    border-image: linear-gradient(to right, #43BDD2 0%, #434250 50%, #FF5A60 100%);
    border-image-slice: 1;
}

.buttons {
    text-align: center;
    margin: 0 auto;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    padding: 8px;
    border: none;
    background: none;
    font-size: 16px;
    margin: 20px 5px 0px 5px
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}