.center { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
	margin: 0;
    background: url("southwest.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
}

.topnav {
	background: #eeeeee;
	border-bottom: 3px solid black;
	position: fixed;
	top: 0;
	width: 100%;
	float: left;
	text-align: center;
	overflow: hidden;
}

.button-home,
.button-social,
.button-about {
    color: white;
    width: 85px;
    border-radius: 5px;
    padding: 12px 18px 12px 18px;
    border: none;
    font-size: 16px;
    margin: 20px 5px 20px 5px
}

.button-home {
    background: #43BDD2;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.button-social {
    background: #434250;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.button-about {
    background: #FF5A60;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.button-home:hover {
    background: #227c8c;
}

.button-social:hover {
    background: #151519;
}

.button-about:hover {
    background: #850004;
}

.classes {
	width: 40%;
	text-align: center;
	overflow: hidden;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 300px;
}

.button-government,
.button-english,
.button-physics,
.button-mathematics {
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.button-government {
    background: #43BDD2;
}
.button-english {
    background: #829CAC;
}
.button-physics {
    background: #C07B86;
}
.button-mathematics {
    background: #FF5A60;
}
.button-government:hover{
    background: #2892a4;
}
.button-english:hover{
    background: #5c788a;
}
.button-physics:hover{
    background: #9b4b58;
}
.button-mathematics:hover {
    background: #850004;
}
    
